.container {
}

/* Header */
.header {
  padding: 2rem;
  background-color: #E8DDDD;
}
.header > h1 {
  font-weight: lighter;
  margin-bottom: 0.5rem;
}
.header > p {
  font-size: 1.3rem;
  color: #0F0F0F;
  margin-bottom: 0.5rem;
}
.header > div {
  border: 1.5px solid black;
  height: 0;
}

/* Main */
.main {
  color: white;
  height: 10rem;
  background-image: url("/public/stock-background.webp");
}
.bg-shade {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  height: 100%;
  padding: 2rem;
}

/* Form */
.form-name {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.form-name > label {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.form-name > input {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.1rem;
  padding: 0.2rem;
}
.form-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-button > button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.1rem;
  padding: 0.7rem 1.7rem;
}

/* Output */
.output {
  padding: 2rem;
}
.output-title {
  font-weight: normal;
  margin-bottom: 1.2rem;
}
.table-window {
  padding: 1.2rem;
  background-color: rgb(200, 200, 255);
  border-radius: 0.5rem;
  border: 3px solid rgb(150, 150, 255);
  min-height: 10rem;
}
.table-window > p {
  font-size: 1.3rem;
}